/*https://pokepalettes.com/#tangela*/

/*I used that cool font from the internet people, god bless them
I created a same style base for all the project
*/

:root{
    background-color: #ff8383;
    font-size: .7rem;
}

*{box-sizing: border-box;
font-family: 'Pokemon Solid', sans-serif, monospace;
margin: 0;
padding: 0;
color: #204152
}

h1,h2,h3,h4{
    margin-bottom: 1.5rem;

}

h1{
    font-size: 4rem;
    color: #204152;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

h1>span{
    font-size: 2rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;

}

.container > * {
/*in case i need it later*/
}

.justifyThis {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

.text-center {
    text-align: center;

}

.column{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.center{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.hidden{
    display: none;
}

.button {
    font-size: 1.8rem;
    padding: 1rem 0;
    width:20rem;
    text-align: center;
    border: 0.4rem solid #ac2941;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #ac2941;
    background-color: white;
}


.button:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba (86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background-color: #de4a6a;
}


.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

